<?xml version="1.0"?>
<config>
    <modules>
        <Devopensource_Redsys>
            <version>0.1.0</version>
        </Devopensource_Redsys>
    </modules>
    <global>
        <models>
            <redsys>
                <class>Devopensource_Redsys_Model</class>
                <resourceModel>devopensource_redsys_resource</resourceModel>
            </redsys>
            <redsys_resource>
                <class>Devopensource_Redsys_Model_Resource</class>
            </redsys_resource>
        </models>
        <blocks>
            <devopensource_redsys>
                <class>Devopensource_Redsys_Block</class>
            </devopensource_redsys>
        </blocks>
        <helpers>
            <devopensource_redsys>
                <class>Devopensource_Redsys_Helper</class>
            </devopensource_redsys>
        </helpers>
    </global>
    <frontend>
        <routers>
            <redsys>
                <use>standard</use>
                <args>
                    <module>Devopensource_Redsys</module>
                    <frontName>redsys</frontName>
                </args>
            </redsys>
        </routers>
        <translate>
            <modules>
                <redsys>
                    <files>
                        <default>Devopensource_Redsys.csv</default>
                    </files>
                </redsys>
            </modules>
        </translate>
    </frontend>
    <adminhtml>
        <translate>
            <modules>
                <redsys>
                    <files>
                        <default>Devopensource_Redsys.csv</default>
                    </files>
                </redsys>
            </modules>
        </translate>
    </adminhtml>
    <default>
        <payment>
            <redsys>
                <active>1</active>
                <model>redsys/redsys</model>
                <autoinvoice>0</autoinvoice>
                <order_status>pending</order_status>
                <redirect_status>pending</redirect_status>
                <confirm_status>processing</confirm_status>
                <error_status>canceled</error_status>
                <title>Card Payment</title>
                <recover_cart>1</recover_cart>
                <cancel_denied_order>1</cancel_denied_order>
                <transaction>0</transaction>
                <merchanturl>{{secure_base_url}}redsys/index/callback</merchanturl>
            </redsys>
        </payment>
    </default>
</config>
