<?xml version="1.0"?>
<config>
    <modules>
        <Devopensource_Notification>
            <version>0.1.1</version>
        </Devopensource_Notification>
    </modules>
    <global>
        <models>
            <devopennotify>
                <class>Devopensource_Notification_Model</class>
                <resourceModel>devopennotify_resource</resourceModel>
            </devopennotify>
            <devopennotify_resource>
                <class>Devopensource_Notification_Model_Resource</class>
                <entities>
                    <notification>
                        <table>devopen_notification</table>
                    </notification>
                </entities>
            </devopennotify_resource>
        </models>
        <blocks>
            <devopennotify>
                <class>Devopensource_Notification_Block</class>
            </devopennotify>
        </blocks>
        <helpers>
            <devopennotify>
                <class>Devopensource_Notification_Helper</class>
            </devopennotify>
        </helpers>
        <resources>
            <devopennotify_setup>
                <setup>
                    <module>Devopensource_Notification</module>
                </setup>
            </devopennotify_setup>
        </resources>
    </global>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <devopennotify before="Mage_Adminhtml">Devopensource_Notification_Adminhtml</devopennotify>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <devopennotify>
                    <file>devopensource/notify.xml</file>
                </devopennotify>
            </updates>
        </layout>
        <events>
            <controller_action_predispatch>
                <observers>
                    <devopennotify>
                        <type>singleton</type>
                        <class>devopennotify/observer</class>
                        <method>preDispatch</method>
                    </devopennotify>
                </observers>
            </controller_action_predispatch>
        </events>
         <translate>
            <modules>
                <devopennotify>
                    <files>
                        <default>Devopensource_Notification.csv</default>
                    </files>
                </devopennotify>
            </modules>
        </translate>
    </adminhtml>
</config>