<?xml version="1.0"?>
<config>
    <modules>
        <Devopensource_Redsys>
            <version>0.2.2</version>
        </Devopensource_Redsys>
    </modules>
    <global>
        <models>
            <redsys>
                <class>Devopensource_Redsys_Model</class>
                <resourceModel>devopensource_redsys_resource</resourceModel>
            </redsys>
            <redsys_resource>
                <class>Devopensource_Redsys_Model_Resource</class>
            </redsys_resource>
        </models>
        <blocks>
            <devopensource_redsys>
                <class>Devopensource_Redsys_Block</class>
            </devopensource_redsys>
        </blocks>
        <helpers>
            <devopensource_redsys>
                <class>Devopensource_Redsys_Helper</class>
            </devopensource_redsys>
        </helpers>
        <template>
            <email>
                <redsys_notify_customer translate="label" module="devopensource_redsys">
                    <label>Redsys Notify Customer</label>
                    <file>redsys_notify_customer.html</file>
                    <type>html</type>
                </redsys_notify_customer>
                <redsys_notify_admin translate="label" module="devopensource_redsys">
                    <label>Redsys Notify Admin</label>
                    <file>redsys_notify_admin.html</file>
                    <type>html</type>
                </redsys_notify_admin>
            </email>
        </template>
    </global>
    <frontend>
        <routers>
            <redsys>
                <use>standard</use>
                <args>
                    <module>Devopensource_Redsys</module>
                    <frontName>redsys</frontName>
                </args>
            </redsys>
        </routers>
        <translate>
            <modules>
                <redsys>
                    <files>
                        <default>Devopensource_Redsys.csv</default>
                    </files>
                </redsys>
            </modules>
        </translate>
    </frontend>
    <adminhtml>
        <translate>
            <modules>
                <redsys>
                    <files>
                        <default>Devopensource_Redsys.csv</default>
                    </files>
                </redsys>
            </modules>
        </translate>
    </adminhtml>
    <crontab>
        <jobs>
            <redsys_cancel_unpaid_orders>
                <schedule>
                    <cron_expr>*/5 * * * *</cron_expr>
                </schedule>
                <run>
                    <model>redsys/cron::cancelUnpaidOrders</model>
                </run>
            </redsys_cancel_unpaid_orders>
        </jobs>
    </crontab>
    <default>
        <payment>
            <redsys>
                <active>0</active>
                <developermode>1</developermode>
                <enviroment>0</enviroment>
                <model>redsys/redsys</model>
                <currency>0</currency>
                <autoinvoice>0</autoinvoice>
                <order_status>pending</order_status>
                <redirect_status>pending</redirect_status>
                <confirm_status>processing</confirm_status>
                <error_status>canceled</error_status>
                <title>Card Payment</title>
                <message_credit_card>payment by credit card or debit 100% safe</message_credit_card>
                <notify_clients_states>0</notify_clients_states>
                <notify_by_email>0</notify_by_email>
                <notify_by_frontend>0</notify_by_frontend>
                <display_error_clients>0</display_error_clients>
                <recover_cart>1</recover_cart>
                <transaction>0</transaction>
                <callback>0</callback>
                <cancel_unpaid_orders>0</cancel_unpaid_orders>
                <cancel_unpaid_orders_min>30</cancel_unpaid_orders_min>
            </redsys>
        </payment>
    </default>
</config>
